{
    "accessToken": "put here your access token",
    "channelSecret": "put here your channel secret",
    "server": {
        "key":  "lets_encript.key",
        "cert": "lets_encript_fullchain.crt"
    }
}
